//! **************************************************************************
// Written by: Map P.20131013 on Fri Sep 15 11:51:55 2017
//! **************************************************************************

SCHEMATIC START;
COMP "switches<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "switches<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "switches<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "switches<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "switches<4>" LOCATE = SITE "N8" LEVEL 1;
COMP "switches<5>" LOCATE = SITE "U8" LEVEL 1;
COMP "switches<6>" LOCATE = SITE "V8" LEVEL 1;
COMP "switches<7>" LOCATE = SITE "T5" LEVEL 1;
COMP "vgaGreen_Pad<0>" LOCATE = SITE "P8" LEVEL 1;
COMP "vgaGreen_Pad<1>" LOCATE = SITE "T6" LEVEL 1;
COMP "vgaGreen_Pad<2>" LOCATE = SITE "V6" LEVEL 1;
COMP "v_sync_Pad" LOCATE = SITE "P7" LEVEL 1;
COMP "h_sync_Pad" LOCATE = SITE "N6" LEVEL 1;
COMP "vgaRed_Pad<0>" LOCATE = SITE "U7" LEVEL 1;
COMP "vgaRed_Pad<1>" LOCATE = SITE "V7" LEVEL 1;
COMP "vgaRed_Pad<2>" LOCATE = SITE "N7" LEVEL 1;
COMP "vgaBlue_Pad<0>" LOCATE = SITE "R7" LEVEL 1;
COMP "vgaBlue_Pad<1>" LOCATE = SITE "T7" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "sig1/pxl_counter_1" BEL "sig1/pxl_counter_0" BEL
        "sig1/v_sync" BEL "sig1/h_sync" BEL "sig1/vgaBlue_1" BEL
        "sig1/vgaBlue_0" BEL "sig1/vgaGreen_2" BEL "sig1/vgaGreen_1" BEL
        "sig1/vgaGreen_0" BEL "sig1/vgaRed_2" BEL "sig1/vgaRed_1" BEL
        "sig1/vgaRed_0" BEL "pxl1/next_color_7" BEL "pxl1/next_color_6" BEL
        "pxl1/next_color_5" BEL "pxl1/next_color_4" BEL "pxl1/next_color_3"
        BEL "pxl1/next_color_2" BEL "pxl1/next_color_1" BEL
        "pxl1/next_color_0" BEL "sig1/col_0" BEL "sig1/row_9" BEL "sig1/row_8"
        BEL "sig1/row_7" BEL "sig1/row_6" BEL "sig1/row_5" BEL "sig1/row_4"
        BEL "sig1/row_3" BEL "sig1/row_2" BEL "sig1/row_1" BEL "sig1/row_0"
        BEL "sig1/col_9" BEL "sig1/col_8" BEL "sig1/col_7" BEL "sig1/col_6"
        BEL "sig1/col_5" BEL "sig1/col_4" BEL "sig1/col_3" BEL "sig1/col_2"
        BEL "sig1/col_1" BEL "clk_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

