//! **************************************************************************
// Written by: Map P.20131013 on Fri Sep 01 14:28:50 2017
//! **************************************************************************

SCHEMATIC START;
COMP "switches<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "switches<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "switches<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "switches<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "switches<4>" LOCATE = SITE "N8" LEVEL 1;
COMP "switches<5>" LOCATE = SITE "U8" LEVEL 1;
COMP "switches<6>" LOCATE = SITE "V8" LEVEL 1;
COMP "switches<7>" LOCATE = SITE "T5" LEVEL 1;
COMP "leds<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "anodes<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "leds<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "anodes<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "leds<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "anodes<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "leds<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "anodes<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "leds<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "leds<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "leds<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "leds<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "bRight" LOCATE = SITE "D9" LEVEL 1;
COMP "bBottom" LOCATE = SITE "C9" LEVEL 1;
COMP "bLeft" LOCATE = SITE "C4" LEVEL 1;
COMP "SSD<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "SSD<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "SSD<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "SSD<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "SSD<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "x1" LOCATE = SITE "V10" LEVEL 1;
COMP "SSD<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "SSD<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "SSD<7>" LOCATE = SITE "M13" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "anodesReg_0" BEL "anodesReg_1" BEL "anodesReg_2"
        BEL "anodesReg_3" BEL "SSD_REG_OUT_0" BEL "SSD_REG_OUT_1" BEL
        "SSD_REG_OUT_2" BEL "SSD_REG_OUT_3" BEL "counter_0" BEL "counter_1"
        BEL "counter_2" BEL "counter_3" BEL "counter_4" BEL "counter_5" BEL
        "counter_6" BEL "counter_7" BEL "counter_8" BEL "counter_9" BEL
        "counter_10" BEL "counter_11" BEL "counter_12" BEL "counter_13" BEL
        "counter_14" BEL "counter_15" BEL "counter_16" BEL "counter_17" BEL
        "counter_18" BEL "counter_19" BEL "counter_20" BEL "counter_21" BEL
        "counter_22" BEL "counter_23" BEL "counter_24" BEL "counter_25" BEL
        "counter_26" BEL "counter_27" BEL "counter_28" BEL "anodeState_0" BEL
        "anodeState_1" BEL "buttonPress" BEL "rstCntr_0" BEL "dwnSmplCntr_0"
        BEL "rstCntr_1" BEL "rstCntr_2" BEL "rstCntr_3" BEL "rstCntr_4" BEL
        "rstCntr_5" BEL "rstCntr_6" BEL "rstCntr_7" BEL "rstCntr_8" BEL
        "rstCntr_9" BEL "rstCntr_10" BEL "rstCntr_11" BEL "rstCntr_12" BEL
        "rstCntr_13" BEL "rstCntr_14" BEL "rstCntr_15" BEL "rstCntr_16" BEL
        "rstCntr_17" BEL "rstCntr_18" BEL "rstCntr_19" BEL "dwnSmplCntr_1" BEL
        "dwnSmplCntr_2" BEL "dwnSmplCntr_3" BEL "dwnSmplCntr_4" BEL
        "dwnSmplCntr_5" BEL "dwnSmplCntr_6" BEL "dwnSmplCntr_7" BEL
        "dwnSmplCntr_8" BEL "dwnSmplCntr_9" BEL "dwnSmplCntr_10" BEL
        "dwnSmplCntr_11" BEL "dwnSmplCntr_12" BEL "dwnSmplCntr_13" BEL
        "dwnSmplCntr_14" BEL "dwnSmplCntr_15" BEL "dwnSmplCntr_16" BEL
        "dwnSmplCntr_17" BEL "dwnSmplCntr_18" BEL "dwnSmplCntr_19" BEL
        "clockDivider_0" BEL "clockDivider_1" BEL "clockDivider_2" BEL
        "clockDivider_3" BEL "clockDivider_4" BEL "clockDivider_5" BEL
        "clockDivider_6" BEL "clockDivider_7" BEL "clockDivider_8" BEL
        "clockDivider_9" BEL "clockDivider_10" BEL "x1_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

